USE [ExPle_DEV]
GO
/****** Object:  StoredProcedure [mesuser].[SP_ERP2MES_BOM]    Script Date: 2023-03-22 오전 9:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [mesuser].[SP_ERP2MES_BOM] 
AS
BEGIN

	DECLARE @MAX_IFNUM NVARCHAR(20);

	-- MES 의 KEY_ERP 최대값 이후 정보가 이전대상으로 하기 위함.

	SET @MAX_IFNUM = (SELECT CONVERT(nvarchar, MAX([KEY_ERP])) FROM MI_BOM)

	IF (@MAX_IFNUM IS NULL)	set @MAX_IFNUM = '0' 

	-- KEY_ERP 정보를 넣어야 함.

--DROP TABLE #TBL_BOM

SELECT * INTO #TBL_BOM
FROM (SELECT
		NUM,
		trim(IFNUM) [KEY_ERP],
		CONVERT(NVARCHAR,CONVERT(INT,MATNR)) [PARENT_CODE],
		trim(WERKS) [PLANT_CODE],
		trim(STLAN) [STLAN],
		trim(STLAL) [STLAL],
		trim(POSNR) [SORT_ORDER],
		CONVERT(NVARCHAR,CONVERT(INT,IDNRK)) [CHILD_CODE],
		trim(STLNR) [STLNR],
		BMENG [BMENG],
		MENGE [QUANTITY],
		MEINS [UOM],
		CONVERT(nvarchar, VALID_FROM) [VALID_FROM],
		CONVERT(nvarchar,VALID_TO) [VALID_TO],
		trim(CHANGE_NO) [CHANGE_NO],
		CONVERT(nvarchar,ERSDA) [REG_DATE_ERP],
		trim(ERNAM) [REG_USER_ERP],
		CONVERT(nvarchar,LAEDA) [MOD_DATE_ERP],
		trim(AENAM) [MOD_USER_ERP],
		(SELECT B_OID FROM MI_ITEM WHERE ITEM_CODE = trim(MATNR)) [R_PARENT_OID],
		(SELECT B_OID FROM MI_ITEM WHERE ITEM_CODE = trim(IDNRK)) [R_CHILD_OID]
		FROM (
			select ROW_NUMBER() OVER (PARTITION BY MATNR,IDNRK, POSNR ORDER BY IFNUM DESC ) AS NUM, * FROM ExPle_DEV.mesuser.IF_ITEM_BOM -- '20220923003'
		) BOM WHERE NUM=1 --AND IFNUM>=@MAX_IFNUM
) AS X


--SELECT * FROM #TBL_BOM

DELETE ExPle_DEV.mesuser.MI_BOM WHERE PARENT_CODE IN (SELECT DISTINCT PARENT_CODE FROM #TBL_BOM ERP)


MERGE INTO ExPle_DEV.mesuser.MI_BOM AS MES
USING #TBL_BOM ERP
ON (ERP.PARENT_CODE = MES.PARENT_CODE)
WHEN NOT MATCHED THEN -- AND ERP.CHILD_CODE = 'DEL' THEN
	INSERT(B_OID, B_CID,WC_CODE,B_USE, REG_DATE, MOD_DATE, REG_USER, MOD_USER
		,[PLANT_CODE], [PARENT_CODE], [R_PAR_OID],[CHILD_CODE],[R_SON_OID]
		,[QUANTITY] ,[SORT_ORDER]
		--, [STLAN], [STLAL], [STLNR], [BMENG], [UOM], [VALID_FROM], [VALID_TO], [CHANGE_NO]
		--,[REG_DATE_ERP], [REG_USER_ERP], [MOD_DATE_ERP], [MOD_USER_ERP]
		,[KEY_ERP])
	VALUES(LOWER( REPLACE(NEWID(),'-','')), '6035','511004','1', GETDATE(), GETDATE(), 'e043b9bf852543939e9a0b8148cb5dda','e043b9bf852543939e9a0b8148cb5dda'
		,ERP.[PLANT_CODE], ERP.[PARENT_CODE], ERP.[R_PARENT_OID],ERP.[CHILD_CODE],ERP.[R_CHILD_OID]
		,ERP.[QUANTITY] ,ERP.[SORT_ORDER]
		--, ERP.[STLAN],ERP.[STLAL], ERP.[STLNR], ERP.[BMENG], ERP.[UOM], ERP.[VALID_FROM], ERP.[VALID_TO], ERP.[CHANGE_NO]
		--,ERP.[REG_DATE_ERP], ERP.[REG_USER_ERP], ERP.[MOD_DATE_ERP], ERP.[MOD_USER_ERP]
		,ERP.[KEY_ERP]);
		--OUTPUT INSERTED.*; --수정결과반환
END