USE [ExPle_DEV]
GO
/****** Object:  StoredProcedure [mesuser].[SP_DASH_MES_PP_D_S_R]    Script Date: 2023-03-22 오전 9:16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,CHO, Sang HO>
-- Create date:<2022-12-15>
-- Description:	<생산실적 일자별 현황,,>
-- =============================================
ALTER PROCEDURE [mesuser].[SP_DASH_MES_PP_D_S_R]  
	 @WORKDATE_S			NVARCHAR(20)		-- 시작일
	,@WORKDATE_E            NVARCHAR(20)		-- 종료일
	,@PROCESSCODE           NVARCHAR(20)        -- 공정  
	,@ITEM                  NVARCHAR(20)        -- 품목 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT
	--(CASE WHEN GROUPING(WR.WORKDATE)= 1 AND GROUPING(WR.WORKORDERNO)= 1 THEN '합계'
	--ELSE
	--CASE WHEN  GROUPING(WR.WORKORDERNO)= 1 THEN '소계'
	--ELSE
	--CONVERT(CHAR(10), WR.WORKDATE, 23) 
	--END
  --  END
	-- ) AS WORKDATE,
	WR.WORKDATE as WORKDATE,
 --  (CASE WHEN GROUPING(WR.WORKDATE)= 1 THEN NULL 
--   ELSE (CASE WHEN GROUPING(WR.WORKORDERNO) = 1 THEN NULL 
--   ELSE MAX(WR.ITEMCODE)
--   END) 
 --  END )    AS ITEMCODE  ,
     MAX(WR.ITEMCODE) AS ITEMCODE  ,
 --  (CASE WHEN GROUPING(WR.WORKDATE)= 1 THEN NULL 
 --   ELSE (CASE WHEN GROUPING(WR.WORKORDERNO) = 1 THEN NULL
	--ELSE MAX(IT.ITEM_NAME) 
	--END) 
--	 END )    AS ITEM_NAME ,
     MAX(IT.ITEM_NAME) AS ITEM_NAME ,
--	(CASE WHEN GROUPING(WR.WORKDATE)= 1 THEN NULL 
--	 ELSE (CASE WHEN GROUPING(WR.WORKORDERNO) = 1 THEN NULL  --소계
--	  ELSE MAX(MIM.MPROCESS_NAME )
--	 END)
--	  END )    AS MPROCESS_NAME ,
     MAX(MIM.MPROCESS_NAME ) AS MPROCESS_NAME ,
--	(CASE WHEN GROUPING(WR.WORKDATE)= 1 THEN NULL
--	 ELSE (CASE WHEN GROUPING(WR.WORKORDERNO) = 1 THEN NULL
--	 ELSE Max(MM.MACHINE_NAME)
--	 END ) 
--	  END )    AS MACHINE_NAME , 
      Max(MM.MACHINE_NAME) AS MACHINE_NAME , 
--	  (CASE WHEN GROUPING(WR.WORKDATE)= 1 THEN NULL
--	  ELSE (CASE WHEN GROUPING(WR.WORKORDERNO) = 1 THEN NULL 
--	   ELSE WR.WORKORDERNO 
--	    END ) 
--		END )    AS WORKORDERNO  
        Max( WR.WORKORDERNO ) AS WORKORDERNO  
		, SUM(WR.IN_QTY) AS IN_QTY
		, SUM(WR.BAD_QTY) AS BAD_QTY 
		, SUM( CONVERT(NUMERIC, WR.WORKINGTIME)) WORKINGTIME 
		 , Isnull(SUM( CONVERT(NUMERIC, DATEDIFF(MINUTE,DT.STARTDOWNTIME, DT.ENDDOWNTIME)    )),0) ENDDOWNTIME 
		 FROM
		[PP_WORK_RESULT] WR
		 LEFT OUTER JOIN MM_DOWNTIME as DT ON WR.WORKORDERNO = DT.WORKORDERNO 
		  , MI_ITEM  MI, MI_MPROCESS MIM, MI_MACHINE MM, MI_ITEM IT
		  WHERE MI.ITEM_CODE =WR.ITEMCODE
		  AND  MIM.MPROCESS_CODE = WR.PROCESSCODE
		  AND MM.MACHINE_CODE =WR.MACHINE 
		  AND IT.ITEM_CODE = WR.ITEMCODE
		  AND ( isnull(@WORKDATE_S,'')=''OR (WR.WORKDATE >= @WORKDATE_S))
          AND ( isnull(@WORKDATE_E,'')=''OR (WR.WORKDATE <= @WORKDATE_E))
          AND ( isnull(@ITEM,'')=''OR  (WR.ITEMCODE =@ITEM))
          AND ( isnull(@PROCESSCODE,'')=''OR  (WR.PROCESSCODE =@PROCESSCODE))
		  GROUP BY WR.WORKDATE, WR.WORKORDERNO
		--  With ROLLUP
END
